body {
	font: 0.9em/1.2 Arial, Helvetica, sans-serif;
	background-color: #a9d7d1;
}

header {
	text-align: center;
}

main {
	max-width: 800px;
	margin: auto;
	background-color: white;
	font-size: 1.5em;
}

.outer-grid {
	display:grid;
	grid-template-columns: repeat(auto-fit, 300px);
	grid-gap:10px;
	padding-bottom: 10px; 
}


label {
	text-align: right;
	padding-right: 10px;
}

@media (max-width: 640px) {
	.outer-grid {
		display: block;
		max-width: 300px;
		margin: auto;
	}
	label {
		text-align: left;
		display:block;
	}
	.outer-grid > input {
		width: 100%;
	}
}

.input-grid{
	display: grid;
	grid-template-columns: minmax(max-content, max-content) 1fr;
}