body {
	font: .9em/1.2 Arial, Helvetica, sans-serif;
	background-color: #a9d7d1;
}

header {
	text-align: center;
	font-weight: normal;
}

main {
	max-width: 800px;
	min-width: 400px;
	margin: auto;
	background-color: white;
	font-size: 1.1em;
}
main p {
	text-align: center;
}

.rows {
	width: 80%;
	margin:10px auto 10px auto;
}

.labels {
	display: inline-block;
	width: 40%;
	text-align: right;
}

.inputs {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

input {
	line-height: 20px;
}

select {
	height: 30px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
}

.submit {
   display: flex; 
   justify-content: center;
}

@media (max-width: 560px) {
	.labels {
		display:block;
		width: 60%;
		margin:auto;
		text-align: left;
	}

	.inputs{
		display:block;
		width: 60%;
		margin:auto;
	}
};