@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
body {
	font: .9em/1.2 'Raleway', Arial, Helvetica, sans-serif;
	background-color: #a9d7d1;
}

header {
	text-align: center;
	font-weight: normal;
}

main {
	max-width: 800px;
	margin: auto;
	padding: 10px;
	padding-top: 20px;
	background-color: white;
	font-size: 1.1em;
}
main p {
	text-align: center;
}

.rows {
	margin:10px auto 10px auto;
}

.labels {
	display: inline-block;
	width: 40%;
	margin: 5px;
	padding: 5px;
	text-align: right;
}

.inputs {
	display: inline-block;
	width: 50%;
	margin:5px;
	vertical-align: top;
}

.input-fields {
	width: 80%;
	padding: 5px;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
}

.dropdown-fields {
	width: 140px; 
}

input {
	line-height: 20px;
}

select {
	height: 30px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	padding-bottom: 5px;
}

textarea {
	height: 50px;
}

input[type="submit"], button {
	display: block;
	background-color:rgb(89, 171, 222); 
	color:white;
	width: 100px;
	margin: auto;
	padding: 10px 0;
	font-size: 1.2em;
	border: 0px solid;
	border-radius: 5px;
}

@media (max-width: 560px) {
	.labels {
		display:block;
		width: 80%;
		margin: 5px auto;
		text-align: left;
	}

	.inputs{
		display:block;
		width: 80%;
		margin: 5px auto;
	}

	.input-fields {
		width: 100%;
	}
};