body {
	font-family: sans-serif;
}

table {
	border: 2px solid;
	border-collapse: collapse;
	border-spacing: 0px;
}

td, th {
	border: 1px solid;
	padding: 10px 20px;
}

col:nth-child(2) {
	border: 2px solid black;
	/* Font-weight is not working on column or column-group in table */
	/* Only a few properties are working to style col or colgroup */
	font-weight: bold;
}