a {
	text-decoration: none;
}

#proj-container {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.proj-thumbnail {
	border: 1px solid gray;
	width: 300px;
	margin: 20px 100px;
}

.proj-img {
	width: 100%;
}

.proj-caption {
	border: 1px solid gray;
}

.contact-item {
	width: 100px;
	height: 100px;
	border: solid 1px gray;
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items: center;
}

