html {
	font-family: sans-serif;
	background-color: #F8F8FF;
}

header {
	background-color: Teal;
	/* Make the header stay at the top of the page */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* Make title and nav bar in a same line */
    display: flex;
    justify-content: space-between;
}

/* vertical center elements in header */
header h1, #nav-bar {
	margin: 0;
	padding: 20px 10px;
}

#header-img {
	margin-right: 10px;
}

nav ul	{
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Make list horizontal  */
nav ul li {
	float: left;
}

.nav-link {
	/* Make whole link area clickable not just text */
	/* Also allow to specify padding, margin etc */
	display: block;
	padding: 14px 40px;
	text-align: center;
	color: black;
	/* Remove line under menu */
	text-decoration: none;
}

/* Change menu color when cursor hover on the menu */
.nav-link:hover {
	color: white;
}