 body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.8em;
	margin:0;
}

#navbar {
	float: left;
	width: 350px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 10px;  
	border-right: 2px solid gray;
}

#navbar h1 {
	text-align: center;
}

#navbar ul {
	list-style-type: none;
	padding: 0;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	/* Need set bottom position to show scroll bar */
	bottom: 10px;  
	overflow-y: auto;
}

#navbar ul li {
	border-top: 1px solid;
}

.nav-link {
	/* Make the whole area of the list is clickable */
	display: block;
	width: 100%;
	padding: 8px 40px;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
}

.nav-link:hover {
	background-color: rgba(123, 203, 230, 1);
}

#main-doc {
	margin-left: 350px;
	padding: 20px 50px;
}

.paras-container {
	margin-left: 20px;
}


code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

@media only screen and (max-width: 1000px) {
	#navbar {
		float: none;
		width: 100%;
		position: static;
	}

	#navbar ul {
		position: static;
		height: 225px;
		border: 2px solid gray;

	}

	#main-doc {
		width: 100%;
		margin: auto auto;
	}
}

